@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Franklin Gothic Book Regular';
    font-style: normal;
    src: url("assets/fonts/Franklin Gothic Book Regular.ttf");
}

@font-face {
    font-family: 'JetBrains';
    font-style: normal;
    src: url("assets/fonts/JetBrainsMono.ttf");
}

body {
   font-family: "JetBrains" ;
}