@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Franklin Gothic Book Regular';
    font-style: normal;
    src: url("assets/fonts/Franklin Gothic Book Regular.ttf");
}

body {
   font-family: "Franklin Gothic Book Regular" ;
   color: "#6B6B6B";
}